@font-face {
    font-family: penbatangR;
    src: url('../fonts/penbatangotbetar00.woff2')format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: penbatangM;
    src: url('../fonts/penbatangotbetasb.woff2')format('woff2');
}

@font-face {
    font-family: penbatangP;
    src: url('../fonts/typojanchi2019.woff2')format('woff2');
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.0);
    display: initial;
}

#cloneinput {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    font-family: penbatangR;
    color: black;
    text-align: center;
    vertical-align: middle;
    display: table;
    position: absolute;
}

#ttup {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50%;
    overflow-x: hidden;
}

#ttinput {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: black;
    overflow-x: hidden;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: penbatangP;
    display: table-cell;
    position: relative;
}

#ttinput:focus {
    border-radius: none;
    border: none;
    outline: none;
}

#ttsend {
    display: none;
}

#newinput {
    width: 100%;
}

#topmenu {
    width: 100%;
    height: 5vh;
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-family: penbatangR;
    display: table;
    color: black;
    vertical-align: middle;
    text-align: right;
    z-index: 10;
}

#nowlength {
    width: 100%;
    height: 100%;
    font-size: 25px;
    margin: 0px;
    padding: 15px;
    display: table-cell;
    position: relative;
    font-size: 1vw;
}

#origin_input {
    width: 100%;
    height: 5vh;
    z-index: 10;
    bottom: 0px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 1vw;
    font-family: penbatangR;
}

#origin_input:focus {
    border-radius: none;
    border: none;
    outline: none;
}