<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link href="./css/index1style.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>typo janchi2019</title>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
    <script src="./js/config.js"></script>
</head>

<body id="print" ng-app="janchi2019" ng-controller="janchiControl">
    <div id="topmenu">
        <p id="nowlength">{{textcontents.length}} / {{max_value}}</p>
    </div>
    <div id="cloneinput">
        <h1 id="ttinput" ng-model="inval" ng-attr-style="font-size: {{inval}}vw !important;">{{textcontents}}</h1>
    </div>
    <input id="origin_input" ng-model="textcontents" ng-model-options="{ allowInvalid: true }" type="text"
        maxlength="{{max_value}}" ng-keyup="nam()" autofocus placeholder="{{inputPlaceh}}" />

    <dialog id="Dialog">
        <p>출력</p>
    </dialog>
</body>
<script src="./js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/angular-animate.min.js"></script>
<script src="./js/angularfire.min.js"></script>
<script src="./js/html2canvas_min.js"></script>
<script src="./js/FileSaver.js"></script>

<script>
    var app = angular.module('janchi2019', ["firebase", "ngAnimate"]);
    var serverUrl = 'http://localhost:3000/';
    var modal_p = document.getElementById('Dialog');

    app.controller('janchiControl', function ($scope, $http, $firebaseArray, $window, $timeout) {
        $scope.textcontents = "";
        $scope.copycon = $scope.textcontents;
        $scope.inputPlaceh = "이곳에 입력해 주세요. 출력은 엔터키";
        $scope.max_value = 10;
        $scope.max_inval = 6;
        $scope.min_inval = 4.5;
        $scope.inval = 6;
        $scope.infomodal = false;
        $scope.printHeight = 384;

        //modal_p.showModal();
        //0.533
        $scope.exportDiv = function (div) {
            $scope.y = window.innerHeight;
            $scope.persentage = (($scope.printHeight * 100) / $scope.y);
            $scope.zeroPersentage = $scope.persentage / 100;
            $scope.final_relsut = $scope.y * $scope.zeroPersentage;
            console.log("how : " + $scope.zeroPersentage + " final result : " + $scope.final_relsut);

            html2canvas(div, {
                scale: $scope.zeroPersentage
            }).then(function (canvas) {
                var rotCanvas = document.createElement("canvas");
                rotCanvas.width = canvas.height, rotCanvas.height = canvas.width;
                var rctx = rotCanvas.getContext("2d");
                rctx.translate(rotCanvas.width * 0.5, rotCanvas.height * 0.5);
                rctx.rotate(-Math.PI * 0.5);
                rctx.drawImage(canvas, -canvas.width * 0.5, -canvas.height * 0.5);
                //가로 캔버스//
                //$scope.data64 = canvas.toDataURL().replace(/\s/g, '+').replace(/^data:image\/png;base64,/, '');
                //세로 캔버스//
                $scope.data64 = rotCanvas.toDataURL().replace(/\s/g, '+').replace(/^data:image\/png;base64,/, '');
                $http.post(serverUrl, {
                    "valueis": $scope.data64
                }).then(function (req) {
                    console.log("posted successfully");
                    $scope.infomodal = false;
                    modal_p.close();
                    console.log($scope.infomodal);
                }).catch(function (req) {
                    console.error("error in posting");
                });
            })
        }


        $scope.sendmss = function () {
            if ($scope.textcontents.length < 1) {
                console.log("no way!");
                return;
            } else {
                db.collection("janchi_data").add({
                    contents: $scope.textcontents,
                    date: firebase.firestore.Timestamp.now(),
                });
                $scope.exportDiv(document.getElementById('ttinput'));
                $scope.textcontents = "";
                modal_p.showModal();
                console.log($scope.infomodal);
                $scope.infomodal = true;
                $timeout(function () {
                    document.getElementById('origin_input').placeholder = $scope.inputPlaceh;
                    console.log("focus!");
                    document.getElementById('origin_input').focus();
                }, 500);
            }

        }
        $(document).keypress(function (e) {
            if (e.which == 13) {
                $scope.sendmss();
            }
        });
        $scope.nam = function () {
            if ($scope.textcontents.length > 0) {
                $scope.inval = $scope.max_inval / ($scope.textcontents.length * 0.15);
                if ($scope.inval < $scope.min_inval) {
                    $scope.inval = $scope.min_inval;
                } else if ($scope.inval > $scope.max_inval) {
                    $scope.inval = $scope.max_inval;
                }
                if ($scope.textcontents.length >= $scope.max_value) {
                    console.log("delete");
                    $scope.textcontents = $scope.textcontents.slice(0, -1);
                } else {
                    return;
                }
            }
            console.log($scope.inval);
        }
        $scope.bigsmall = function () {
            console.log("fuc! ");
        }
    });
</script>

</html>